//colors

$main: #cdae70;
$dark-main: #8c6239;
$dark-text: #41474a;
$light-text: #838383;
$border-color: #d0d0d2;
$gray: #f7f4fb;
$error: #b22222;
$success: #28a745;

// shadows

$card-shadow: 0px 24px 45px rgba(0, 0, 0, 0.05);
$nav-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);

// other

$border-radius: 0.4rem;
