@import "../../styles/variables";

.categories {
  padding-bottom: 4rem;
  padding-top: 24rem;
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .category {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .name {
    font-size: 2.2rem;
  }

  .desc {
    color: $light-text;
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .categories {
    padding-top: 26;
  }
}

@media (min-width: 992px) {
  .categories {
    padding-top: 0;
  }
}
